---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opa
  namespace: aap-opa
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  labels:
    app: opa
    app.kubernetes.io/instance: cluster-configs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opa
  template:
    metadata:
      labels:
        app: opa
        app.kubernetes.io/instance: cluster-configs
      name: opa
    spec:
      containers:
        - name: opa
          image: openpolicyagent/opa:latest-static
          ports:
            - name: http
              containerPort: 8181
          args:
            - "run"
            - "--ignore=.*"  # exclude hidden dirs created by Kubernetes
            - "--server"
            - "--log-level=debug"
            - "--addr=:8181"
...
